h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  font-size: 1.25rem;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}